<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>me.danielsim.Birch</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeName</key>
			<string>SGQR Payment Code</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>sg.gov.mas.sgqr-data.birch</string>
			</array>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>sg.gov.mas.sgqr-data</string>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SGQR data (Birch)</string>
			<key>UTTypeIdentifier</key>
			<string>sg.gov.mas.sgqr-data.birch</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.sg.gov.mas.sgqr-data</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>sgqr</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
